* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
}

/* Utils */
.btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all ease .5s;
}

.btn:hover {
    background-color: darkred;
}

/* Utils */

/* Navbar  */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5vw;
    background: transparent;
    color: white;
    transition: all ease .5s;
}

.navbar.scrolled {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
}

.navbar.scrolled .nav-info span,
.navbar.scrolled .nav-links a,
.navbar.scrolled .nav-logo, 
.navbar.scrolled .menu-toggle{
    opacity: 0.8;
    color: black;
}

.navbar.scrolled .nav-links a:hover {
    color: red;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all ease .5s;
}

.nav-links a:hover {
    color: red;
}

.nav-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 1.5em;
}

.side-menu {
    position: fixed;
    height: 100%;
    background-color: white;
    width: 200px;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    display: none;
    transition: all ease-in-out 0.3s;
    transform: translateX(100%);
    z-index: 10;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(214, 214, 214, 0.75);
}

.side-menu .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.side-menu .nav-links a {
    color: black;
}

.nav-close-container {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.nav-close {
    cursor: pointer;
}

.side-menu .nav-links a:hover {
    color: red;
}

.side-menu .nav-info {
    flex-direction: column;
    align-items: center;
}

.side-menu.open {
    transform: translateX(0);
}

/* navbar  */

/* header */
.hero-section {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/header-banner.jpg) center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5vw;
}

.hero-section h2 {
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
}

.hero-section-title {
    color: #fff;
    font-size: 2.8rem;
    padding: 1rem 0;
}